{% extends "base.html" %}
{% block title %}Определитель оператора и региона{% endblock %}
{% block description %}Определитель оператора и региона{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12">
            <h3>Введите номер абонента в формате MSISDN (например, 79173453223)</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-6">
            <form method="POST">
            {% csrf_token %}
                <div class="row flex-auto">
                    <div class="col-8">
                       {{ form.number }}
                    </div>
                    <div class="col-4">
                        <input type="submit" value="Определить">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if error_message %}
        <div class="row justify-content-center">
            <div class="col-6" style="color: red; font-weight: bold">
                {{ error_message }}
            </div>
        </div>
    {% endif %}
    {% if number %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ number }}
            </div>
        </div>
    {% endif %}
    {% if operator %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ operator }}
            </div>
        </div>
    {% endif %}
    {% if region %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ region }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
